body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
input,
select,
button {
  margin: 0;
  padding: 0;
}
/* 初始化标签在所有浏览器中的margin、padding值 */
fieldset,
img {
  border: 0 none;
}
/* 重置fieldset（表单分组）、图片的边框为0*/
dl,
ul,
ol,
menu,
li {
  list-style: none;
}
/* 重置嵌套引用的引号类型 */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
/* 重置嵌套引用*/
input,
select,
textarea,
button {
  vertical-align: middle;
}
/* 重置表单控件垂直居中*/
button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}
/* 重置表单button按钮效果 */
html,
body {
  background: #ffffff;
  font-size: 62.5%;
  line-height: 1;
  font-family: "黑体";
  color: #666666;
}
/* 重置body 页面背景为白色 */
th,
td,
input,
select,
textarea,
button {
  font-size: 12px;
  line-height: 1;
  font-family: "黑体";
  color: #666666;
}
/* 重置页面文字属性 */
a {
  color: #666;
  text-decoration: none;
}
/* 重置链接a标签 */
a:active,
a:hover {
  text-decoration: none;
}
/* 重置链接a标签的鼠标滑动效果 */
img {
  vertical-align: top;
}
/* 图片在当前行内的垂直位置 */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  height: 70px;
  background: #29bde0;
  padding: 20px 4.687% 0 4.687%;
  color: #ffffff;
  font-size: 3.4rem;
  width: 90.626%;
}
footer {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #29bde0;
}
footer a {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fbb435;
  font-size: 4rem;
}
html,
body {
  background: #f0f0f0;
  height: 100%;
  width: 100%;
}
.all-content {
  display: flex;
}
.all-content input {
  display: none;
}
.all-content .nav {
  display: none;
  width: 30%;
  background: #ffffff;
}
.all-content .nav li {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: right;
  height: 100px;
  padding-left: 10%;
  width: 80%;
  font-size: 2rem;
  background: url(img/photo13.5.png) no-repeat right;
}
.all-content .nav li a {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: left;
  color: #29bde0;
}
.all-content #check-box:checked ~ .nav {
  display: block;
}
.all-content .former-content {
  flex: 1;
  height: 100%;
}
.all-content .former-content nav a {
  display: flex;
  margin: 25px 5.468% 0 5.468%;
  font-size: 3.4rem;
}
.all-content .former-content nav a .fill {
  float: right;
  height: 115px;
  width: 15px;
  background: #ffffff;
}
.all-content .former-content nav a .navs {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 115px;
  flex: 1;
  background: #ffffff url(img/photo2.png) no-repeat right;
  color: #9a9a9a;
}
.all-content .former-content main {
  position: relative;
  margin: 25px 5.468% 60px 5.468%;
  height: 775px;
  background: #ffffff;
}
.all-content .former-content main .small-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  font-size: 3.7rem;
  color: #fbb435;
  border-bottom: 1px solid #fbb435;
}
.all-content .former-content main .get-into-btn {
  padding: 30px 9.649% 0 9.649%;
}
.all-content .former-content main .get-into-btn div {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #69d1e9;
  width: 100%;
  height: 135px;
  font-size: 3.2rem;
  color: #ffffff;
}
.all-content .former-content main .get-into-btn p {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  font-size: 2.4rem;
  color: #838383;
}
.all-content .former-content main img {
  position: absolute;
  top: 375px;
  right: 10px;
  height: 56px;
  width: 28px;
}
@media screen and (max-width: 1100px) {
  html {
    font-size: 70%;
  }
  .all-content .nav li {
    background-size: 21px 21px;
  }
  .all-content .nav li a img {
    height: 20px;
    width: 20px;
  }
}
@media screen and (max-width: 760px) {
  html {
    font-size: 50%;
  }
}
@media screen and (max-width: 650px) {
  html {
    font-size: 50%;
  }
  .all-content .former-content main img {
    top: 389px;
    height: 28px;
    width: 14px;
  }
  .all-content .former-content nav a .navs {
    background-size: 12px 20px;
  }
}
@media screen and (max-width: 550px) {
  html {
    font-size: 40%;
  }
}
@media screen and (max-width: 450px) {
  html {
    font-size: 30%;
  }
  .all-content .former-content main img {
    right: 0;
  }
}
