main img {
    width: 100vw;
}
main a {
    color: #000;
}
main .nav-bar {
    padding: 10px 0 10px 15px;
}
main .cooperate {
    color: #29b078;
}
main .item {
    padding: 10px 10px 10px 10px;
}
main ul li {
    list-style: circle;
    color: #f1a750;
    font-size: 2em;
    padding: 10px 0px 10px 0px; 
}
main .company {
    text-align: center;
}
main ul li a {
    color: #29b078;
}
main .company div {
    text-align: left;
    display: inline-block;
}
main .text {
    border: 1px solid #aaa;
    text-align: center;
}
main .text h4 {
    border-bottom: 1px solid #aaa;
    padding-bottom: 20px;
    padding-top: 10px;
}
main .text1 {
    font-size: 16px;
}
main .title {
    padding: 30px;
    height: 200px;
}
main .title img {
    width: 100px;
}
main .tudou {
    height: 100%;
    float: left;
    width: 20%;
    display: flex;
    align-items: center;
}
main .wenben {
    height: 100%;
    float: left;
    width: 80%;
    display: flex;
    align-items: center;
}
main .article p{
    padding: 5px 20px 5px 20px;
}
@media screen and (max-width: 1000px){
    .tudou {
        width: 100%;
        height: auto;
    }
    .wenben {
        width: 100%;
    }
}
